VITE_SUPABASE_URL=https://bbthcsauwnjjarjlbrqu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJidGhjc2F1d25qamFyamxicnF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4MDYwNjksImV4cCI6MjA5MjM4MjA2OX0.HjsGWPQHCVzr4Jf1lJa2A_sxzb6tn4JqUCAh7pzzH68
VITE_CONFIRMATION_BASE_URL=https://recibox-sigma.vercel.app


service_role_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJidGhjc2F1d25qamFyamxicnF1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjgwNjA2OSwiZXhwIjoyMDkyMzgyMDY5fQ.iy7vsJKhHrhgvI6Sidnt4boCmEVoPFTSiqZdreTTchA
